@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter.ttf");
}

:root {
    --bs-primary: #0d3d6b;
    --bs-primary-rgb: 13, 61, 107;
    --bs-link-color: #0d3d6b;
    --bs-link-hover-color: #082C4B;
}

body {
    font-family: "Inter";
}

/* Bootstrap overload */

.btn-primary {
    --bs-btn-bg: #0d3d6b;
    --bs-btn-border-color: #0d3d6b;
    --bs-btn-hover-bg: #082C4B;
    --bs-btn-hover-border-color: #082C4B;
    --bs-btn-active-bg: #061f36;
    --bs-btn-active-border-color: #061f36;
    --bs-btn-disabled-bg: #0d3d6b;
    --bs-btn-disabled-border-color: #0d3d6b;
}

.btn-primary:focus,
.btn-primary:focus-visible {
    background-color: #0d3d6b;
    border-color: #0d3d6b;
    box-shadow: 0 0 0 0.25rem rgba(13, 61, 107, 0.25);
}

.form-control:focus {
    border-color: #0d3d6b;
    box-shadow: 0 0 0 0.25rem rgba(13, 61, 107, 0.25);
}

.form-check-input:checked {
    background-color: #0d3d6b;
    border-color: #0d3d6b;
}

.form-check-input:focus {
    border-color: #0d3d6b;
    box-shadow: 0 0 0 0.25rem rgba(13, 61, 107, 0.25);
}

/* Conteneur sidebar */
.sidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform .3s ease;
    z-index: 1030;
}

/* Contenu interne (ton div) */
.sidebar-inner {
    width: 100%;
}

/* Sidebar cachée (glisse vers la gauche) */
.sidebar.hidden {
    transform: translateX(-280px);
}

/* Languette en haut, à droite de la sidebar */
.sidebar-tab {
    position: absolute;
    top: 10px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: #0d6efd;
    color: #fff;
    border-radius: 0 8px 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2px 0 6px rgba(0,0,0,0.2);
}

main {
    margin-left: 280px;
    transition: margin-left .3s ease;
}

body.sidebar-collapsed main {
    margin-left: 0;
}